extends template/_layout
include ../components/taskDesk/taskDesk

block vars
  - var title = "Главная";


block content 

  section.desk__wrapper
    .task_item.drag_element.js-drag-element
    template.js-template
      +taskDesk()
